<div class="list">
	<ion-toggle ng-model="notificacionesOn">Enviar Notificaciones</ion-toggle>
	<div class="item item-divider">
		Horario Notificaciones
	</div>
	<ion-radio ng-model=".horario" ng-value="AM">AM</ion-radio>
	<ion-radio ng-model="horario" ng-value="PM">PM</ion-radio>
	<div class="item item-divider">
		Recibir Notificaciones Sobre
	</div>
	<ion-checkbox ng-model="preferencia1" ng-value="Futbol">Futbol</ion-checkbox>
	<ion-checkbox ng-model="preferencia2" ng-value="Baloncesto">Baloncesto</ion-checkbox>
	<ion-checkbox ng-model="preferencia3" ng-value="Tenis">Tenis</ion-checkbox>
</div>